.contact_main {
    height: 70vh;
    width: 100%;
    background-color: #F9C349;
    display: flex;
    justify-content: center;
}

.contact_main_txt {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.contact_main_txt h6, .contact_main_txt h1{ 
    color: white;
    text-align: center;
}

.contact_main_txt h6 {
    font-family: 'Inter',sans-serif;
    font-size: calc(0.5rem + 1vw);
}

.contact_main_txt h1 {
    font-family: 'Merriweather';
    font-size: calc(2rem + 2vw);
}

@media only screen and (max-width: 450px){
    .contact_main_txt {
        justify-content: end;
        align-items: center;
        padding-bottom: 20%;
    }
    
}
