.zen_yoga_studio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 120vh;
    width: 100%;
    border-bottom: 1px black solid;
}

.zen_yoga_studio_relax {
    display: flex;
    flex-direction: column;
    padding: 13%;
}

.zen_yoga_studio_relax h6 {
    color: #ffb100;
    font-size: calc(0.5rem + 0.3vw);
    letter-spacing: 5px;
    
}

.zen_yoga_studio_relax h2 {
    width: 90%;
    font-size: calc(1rem + 2vw);
    font-family: 'Merriweather';
    padding: 8% 0;
}

.commas_pic {
    width: 20px;
    height: 20px;
}

.zen_yoga_studio_relax p {
    color: #62615c;
    font-weight: 600;
    line-height: 25px;
}

.zen_yoga_studio_relax_profile {
    display: flex;
    padding-top: 5%;
    align-items: center;
}

.zen_yoga_studio_relax_profile_txt {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
}

.zen_yoga_studio_relax_profile_txt p {
    font-weight: lighter;
}

.zen_yoga_studio_relax_profile_txt p:first-child {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

.username_pic {
    width: 33px;
    height: 33px;
    border-radius: 50px;
}

.zen_yoga_studio_slider {
    padding: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yoga_retreat_pic {
    height: 70%;
}

.zen_yoga_studio_paragraph p {
    padding: 13%;
    color: #62615c;
    font-size: calc(0.2rem + 1vw);
    line-height: 25px;
}

.zen_yoga_studio_paragraph p:first-child {
    padding-bottom: 0;


}

.zen_yoga_studio_paragraph p:nth-child(2){
    padding-top: 5%;
}


@media only screen and (max-width: 1200px) {
    .zen_yoga_studio {
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: 0.5fr 0.2fr;
        height: calc(110vh + 15vw);
    }

    .zen_yoga_studio_relax{
        padding-left: 5%;
    }

    .yoga_retreat_pic{
        height: 90%;
    }

    .zen_yoga_studio_paragraph {
        display: grid;
        grid-area: 2/1/2/3;
        padding: 0;
    }

    .zen_yoga_studio_paragraph p{
        padding: 0;
        width: 100%;
        font-size: calc(1rem + 0.5vw);
    }

    .yoga_retreat_pic, .zen_yoga_studio_paragraph p {
        padding: 0;
    }

    .zen_yoga_studio_paragraph p:nth-child(2), .zen_yoga_studio_paragraph p:first-child {
        padding-top: 0;
        padding-left: 3%;
        font-size: calc(0.5rem + 0.1vw);
        font-size: calc(0.5rem + 0.2vw);
    }

    .zen_yoga_studio_paragraph p:first-child {
        padding-top: 5%;
    }

    .commas_pic{
        padding-top: 0;
    }
    
    .zen_yoga_studio_slider {
        align-items: start;
        width: 80%;
        height: 75vh;
        display: flex;
       justify-content: center;
       align-items: center;
    }
    .zen_yoga_studio_relax h6{
        margin-left: 1%;
    }

    .zen_yoga_studio_paragraph p {
        font-size: calc(1rem + 0.5vw);
        line-height: normal;
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .zen_yoga_studio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(170vh + 10vw);
    }   

    .zen_yoga_studio_slider, .zen_yoga_studio_relax, .zen_yoga_studio_relax h6 , .zen_yoga_studio_relax h2, .commas_pic{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .zen_yoga_studio_relax, .zen_yoga_studio_slider, .zen_yoga_studio_paragraph{
        width: 90%;
        height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .yoga_retreat_pic {
        height: calc(150px + 50vw);
        width: calc(50px + 50vw);
    } 
    .zen_yoga_studio_relax_profile_txt, .zen_yoga_studio_relax_profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .zen_yoga_studio_relax_profile_txt p:first-child{
        text-align: center;
        margin-bottom: 0;
    }
    
}