.home_reviews {
    width: 100%;
    height: calc(110vh + 1vw);
    background-color: #F8F7F3;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.home_reviews_container {
    width: 80%;
    height: 65vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;   
}

.home_commas_pic {
    width: calc(20px + 1.5vw);
    height: calc(20px + 1.5vw);
    justify-self: center;
}

.home_reviews_container h1 {
    color: #98C3D1;
    font-family: 'Merriweather';
    font-size: calc(0.8rem + 3vw);
    text-align: center;
    justify-self: center;
    padding-top: 3%;
}

.home_reviews_container p {
    font-family: 'Inter', sans-serif;
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 600;
    justify-self: center;
    text-align: center;
    width: 65%;
    min-width: 100px;
    padding-top: 3%;
}

.home_username_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: center;
    margin-top: 3%;
}

.home_reviews_container h5 {
    justify-self: center;
    font-family: 'Inter', sans-serif;
    padding-top: 3%;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(0.6rem + 1vw);
}

.home_reviews_container h6 {
    justify-self: center;
    font-family: 'Inter', sans-serif;
    padding-top: 1%;
    font-size: 15px;
    color: #62615c;
}

@media only screen and (max-width:700px) {
    .home_reviews {
        height: calc(110vh + 10vw);
    }
    .home_reviews_container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}