.icons a img{
    width: calc(15px + 1vw);
    height: width;
    filter: brightness(0) invert(0);
    
}
.icons a {
    padding: 15%;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teachers_pics {
    width: calc(100px + 3.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_team_pictures_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.about_team_pictures_container p {
    text-align: center;
    width: 75%;
    color: #62615c;
    line-height: 25px;
    padding-top: 3%;
}

.about_team_pictures_container h4 {
    font-family: 'Merriweather';
    font-size: calc(1rem + 0.5vw);
    padding-top: 3%;
    text-align: center;
}

.about_meet_our_team_first_teacher, .about_meet_our_team_second_teacher, .about_meet_our_team_third_teacher{
    display: flex;
    justify-content: center;
    align-items: center;
}


